@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&family=Russo+One&display=swap");
/* Ensure FontAwesome is included */


* {
  --font-text: "Poppins", sans-serif;
  --font-title: "Russo One", sans-serif;
  --paddings-container: 0 10rem;
  margin: 0;
  padding: 0;
}

.font-weight-bold{
  font-weight: bold;
}

#button {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  text-decoration: none;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}



/* All containers*/

.get-in-touch{
  background-color: #191930; 
  color: white !important;
}

.hs-form-1e70a165-b487-49c5-9969-f92f5f1bfca7_332bf2d4-6f72-43c9-af80-0b658b0d7db6 .hs-form-field label:not(.hs-error-msg) {
  font-family: arial, helvetica, sans-serif;
  color: white;
}

.user-xp-container{
  background-color: #191930; 
  padding-bottom: 3rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right:1rem ;
}

.user-experience-grid{
  display: grid;
  /* background-color: #6ef03a; */
  grid-template-columns: repeat(3,1fr);
  gap: 1rem;
}

.four-tile-grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1rem;
}

.btn-dark{
  background: #191930 !important;
  /* width: 250px !important; */
  height: 3rem;
  font-weight: 3rem;
  font-family: var(--font-title);
  font-size: 18px;
  line-height: 15px;
  letter-spacing: 1.5px;
}

.item-1{
  background: url('../img/device-screen-with-mobile-app-betting-score-device-with-match-re.svg');
}

.rating {
  /* padding: 0 15px ; */
  display: flex;
}

.adv-img{
  height: 204px;
  width: 204px;
}

.adv-container{
  padding: 6rem 0;
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the body takes up at least the full height of the viewport */
  margin: 0; /* Remove default body margin */
}

main {
  flex: 1; /* Make the content area flexible to take up remaining space */
}

footer {
  flex-shrink: 0; /* Prevent the footer from shrinking */
  background-color: #EDEEF1; /* Example background color */
  /* color: #fff; Example text color */
  /* padding: 20px; */
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-title);
}

p {
  font-family: var(--font-text);
}

/* NAVBAR MENU */

header {
  padding: 0 3rem;
}


.navbar-nav .nav-item {
  font-size: 1.3rem;
  font-family: var(--font-title);
  color: rgba(0, 0, 0, 0.7);
  font-family: 400;
  padding-right: 30px;
}

/* .button-nav {
  position: relative;
  margin: 0 2rem 0 3rem;
}
 */

 .button-nav {
  position: relative;
  display: inline-block;
}


.star-1,
  .star-2,
  .star-3,
  .star-4 {   
    width: 18px !important; /* Adjust size as needed */ 
  }

.star-1 {
  position: absolute;
  top: 50%;
  left: -20px;
  width: 18px !important;
  transform: translateY(-50%);
}

.star-2 {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
}

.star-3 {
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
}

.star-4 {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}

#reponsive-nav {
  /* margin: 0 2% 0 10%; */
  font-weight: 700;
  background: #f9bc2c;
  width: 100%;
}

/* .button-nav .star-1 {
  position: absolute;
  width: 18px;
  top: -20px;
  left: 75px;
}
.button-nav .star-2 {
  position: absolute;
  width: 18px;
  top: 10px;
  left: -5px;
}
.button-nav .star-3 {
  position: absolute;
  width: 18px;
  top: 10px;
  left: 160px;
}
.button-nav .star-4 {
  position: absolute;
  width: 18px;
  top: 40px;
  left: 75px;
} */

.navbar img {
  width: 70px;
  padding: 0.5%;
}

/* Carousel */

.buttons-slider-container{
  display: grid;
  grid-template-columns: repeat(4, 250px); /* Default: 2 columns on small screens */
  justify-content: space-between;
  /* position: absolute; */
  /* bottom: 10%; */
  /* left: 0%; */
  /* width: 100%; */
  /* text-align: center; */
  /* padding: 0 3.5rem; */
  /* max-width: 1320px; */
}



.buttons-slider-container-mobile {
  margin-top: 2rem;
  display: none;
  grid-template-columns: repeat(2, 250px);
  justify-content: center;
  width: 100%;
  /* padding: 0 4.5rem; */
  gap: 1rem;
}


.carousel-p{

  width: 50%;
  font-size: 24px;
  font-family: var(--font-text);

}

.banner-home{
  padding: 0;
}

.carousel-caption{
  position: absolute;
  top: 5rem;
  left: 0rem;
  text-align: left;
  width: 100%;
  /* padding: 0 3.5rem; */
}

.carousel-inner

.carousel-caption p {
  width: 50%;
  font-size: 21px;
  font-family: var(--font-text);
}

.carousel-caption .slider-buttons .play-now,
.carousel-caption .slider-buttons .play-now:visited{
  background: #f9bc2c;
  border: none;
  border-radius: 10px;
  padding:10px 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-family: var(--font-title);
  -webkit-tap-highlight-color: transparent;
}
.carousel-caption .slider-buttons .get-in,
.carousel-caption .slider-buttons .get-in:visited{
  background: #e78035;
  border: none;
  border-radius: 10px;
  padding:10px 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-family: var(--font-title);
 
}

.get-in-button{
  background: #e78035;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-family: var(--font-title);
  text-decoration: none;
  color:#000
}

.carousel-caption .slider-buttons a {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 10px;
  /* padding: 10px 15px; */
  font-family: var(--font-title);
  -webkit-tap-highlight-color: transparent;
}



/* Restaurar el estilo predeterminado para los botones en otros dispositivos */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .carousel-caption .slider-buttons .play-now,
  .carousel-caption .slider-buttons .play-now:visited,
  .carousel-caption .slider-buttons .get-in,
  .carousel-caption .slider-buttons .get-in:visited {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    color: #000;
  }
}


.carousel-indicators{
  display: none;
}

.carousel-buttons{
  position: absolute;
  bottom: 10%;
  left: 0%;
  width: 100%;
  text-align: center;
}

.carousel-buttons button {
 width: 250px;
 height: 3rem;
 background:  #191930;
 color: #ffffff;
 border: none;
 border-radius: 0;
 font-family: var(--font-title);
 letter-spacing: 1.5px;
 font-size: 18px;
 line-height: 15px;
 border: 3px solid #191930;
 border-radius:10px ;
 -webkit-border-radius:10px ;
 -moz-border-radius:10px ;
 -ms-border-radius:10px ;
 -o-border-radius:10px ;
}

.btn:hover {
  background-color: #875F29;
  border: 3px solid #875F29;
}


.carousel-buttons .btn.active{
  background: #191930;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}


/* The Advantages of Upside */


.d-grid-advantages{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: space-evenly;
  /* padding: 0 3.5rem; */
  gap: 3.5rem;  
  margin: auto;
}

.d-grid-item{
    /* padding: 1rem 1.5rem; */
    width: 100vh/3;
  }

  .d-grid-item p {
    /* padding: 0 10%; */
    font-size: 18px;
    min-height: 200px;
    margin-top: 2rem;
}

.advantages {
  /* margin:4rem 0 0 0; */
  width: 98vw;
  max-width: 2500px;
  overflow: hidden;
  text-align: center;
}

.advantages .row {
  gap: 3rem 0;
  padding: 0 4rem;
}
.advantages .row p {
    padding: 0 10%;
    font-size: 18px;
  min-height: 250px;
  margin-top: 2rem;

}
.advantages .row img {
    width: 200px;
    display: block;
    margin: auto;
}
.advantages .row .img-enter {
    width: 150px;
    margin-top: 15%;
}


.advantages .title {
  margin-bottom: 5%;
  margin-left: 10%;
}



/* TOURNAMENTS */

.tournaments{
  background: #191930;
}

.tournaments h2{
  color: white;
  font-size: 24px;
}

.tournaments p {
  color: black;
  font-size: 14px;
}


.our-tournament-text{
  padding:  1.5rem 2.5rem;
}

.tournaments .prize-container .col-lg-12{
max-width: 1500px;
}

.tournaments .prize-container button{
 
  color: white;
  font-size: 14px;
  font-family: var(--font-title);
  background: none;
  border: none;
}

.tournaments .prize-container .title {
  color: white;
  font-family: var(--font-title);
  font-size: 18px;
}
.tournaments .prize-container .text .points {
  color: white;
  font-size: 13px;
  font-weight: 600;
  margin:0 1rem;
}
.tournaments .prize-container .text .name {
  color: white;
  font-size: 13px;
  font-weight: 400;
  
}



.tournaments .grand-prize-container {
  background: linear-gradient(180deg, rgba(35,44,56,1) 0%, rgba(25,25,48,1) 99%);
  /* margin: 3rem 0; */
  padding: 1rem;
  border-radius: 10px ;
  
}


.tournaments .card-container{
  padding: 0 3rem;
}

.card-container .card {
  border: 3px solid #f9bc2c;
}

.tournaments .card-container .card-title{
  min-height: 50px;
}

.table-container{
  max-height: 300px;
  overflow: auto;
}


.tournaments table{
  width: 100%;
}

.tournaments table th,
.tournaments table td{
  border-bottom: 1px solid #b0aeae90;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
}

.tournaments table th{
  font-weight: 400;
  color: #3d3f42;
}

.tournaments .carousel-control-prev{
 
  width: auto;
  height: 40px;
  top: auto;
  bottom: -5rem;
  left: 40%;
}

.tournaments .carousel-control-next{
 
  width: auto;
  height: 40px;
  top: auto;
  bottom: -5rem;
  right: 40%;
}

.tournaments .carousel-inner{
  margin-bottom: 10rem;
}



/* The advantages of upside */
.advantage-text{
  text-align: left;
  /* padding: 0 2.5rem; */
}


.testimonials{
  padding-bottom: 4rem;
  padding-top: 3rem;
}

/* TESTIMONIALS */


.testimonial-image{
  height: 186px !important;
  width: 186px;
  border-radius: 50%;
}



.person-feedback{
  font-weight: 600;
}

.testimonial-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.testimonial-item{
  padding: 0 1rem;
}

/* Contact */

.contact{
    background: #191930;
}

.contact form{
    margin:3rem auto 1rem;
}

.contact input{
    height: 3rem;
    margin-bottom: 2.5rem;
}

.contact textarea{
    height: 9rem;
}

.contact button{
    background: #f9bc2c;
    border: none;
    color: #000;
    font-weight: 700;
}

.contact .success-form{
    color:#6ef03a
}

.form-container{
  padding-bottom: 5rem;
}


/* FOOTER */

.footer{
  margin-bottom: 10vh;
  background-color: #EDEEF1;
}

.footer .row{
  /* padding: var(--paddings-container); */
  justify-content: space-between;
}

.footer h5 {
  font-weight: 400;
  text-align: left;
  /* margin-left: 30px; */
}

.footer li{
  list-style: none;
  text-align: left;
}

.footer a{
  text-decoration: none;
  color: black;
}

ol, ul {
  padding-left: 0rem;
}


/* How it Works Page  */




.claim-form-container .content {
  width: 100% !important;
  margin: 7rem 0 0;
 
}

.claim-form-container .content h1{
  text-align: center;
  font-size: 4em;
  color: #F47128;
}

.claim-form-container .content p{
  font-size: 1.1em;
}

.claim-form-container a{
  color: #000;
}

.claim-form-container {
  background: #fff;
  width: 100%;
  padding: var(--paddings-container);
}


.claim-form{
  background: #ffffff;
  width: 100%;
  max-width: 100%;
}

.claim-form form {
  width: 60%;

}


.claim-form form textarea{
  resize: none;
  width: 436px;
  height: 212px;
  border: 1.5px solid #3d3f423f ;
  border-radius: 10px;
 padding: 10px;
}

.claim-form form button{
  background: #f9bc2c;
  font-weight: bold;
  color: #000;
  border: none;
}

.claim-banner p{
  
  font-size: 1.4em;
}

.band a,
.band p{
font-family: var(--font-title);
font-size: 21px;
text-decoration: none;
font-weight: 500;
color: #000;
}


.works-banner{
  height: 60vh;
  display: flex;
  align-items: center;
  background-color: #191930; color: white;
}

.works-banner .text p{
  font-size: 1.1rem;
}


.works-container {
  background: #e4e4ee;
  padding: 1rem 0 5rem 0;
}

.works-container .container .row{
  padding: 4.5rem;
  height: 40rem;
}



.works-container .container .row .images-container{
  align-self: flex-end;
}

.works-container .right {
  background: white;
  margin-right: 0;
  margin-top: 5rem;
  max-width: 90vw;
  overflow:hidden;
}
.works-container .left {
  background: white;
  margin-left: 0;
  margin-top: 5rem;
  max-width: 90vw
}

.works-container .images{
  text-align: end;
}


.works-container img{
  width: 19vw;
    height: 38vh;
    background: #d9d9d9;
    margin-left: 30px;
}

.About-banner {
  background: #191930;
  color: #ffffff;
  padding: 6.5rem 0;
  overflow: hidden;
  
}

.About-banner .row{
  justify-content: space-between !important;
  /* padding: 3rem 3.5rem; */
}

.About-banner .image img{
  width: 250px;
  top: 3vw;
  left: 17vw;
}

.team{
  margin-bottom: 10rem;
  padding: var(--paddings-container);
}

.our-team .row{
  gap:0 10rem;
}

.our-team{
  padding: 0 3.5rem;
}

.container-buttons{
  bottom: 15%;
    /* left: 29%; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, 80%);
  
}

.play-now{
  background: #f9bc2c;
  border: none;
  border-radius: 10px;
  padding: 8px 18px;
  font-size: 1.1rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-family: var(--font-title);
  -webkit-tap-highlight-color: transparent;
  color: #000;
}

@media (min-width: 1400px) {
  /* Your CSS rules for even larger screens go here */
  .carousel-inner{
    max-height: 800px;
  } 
  .container-buttons{
    bottom: 10%;
    /* left: 29%; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, 70%);
    /* border: solid white; */
  }

  .get-in-touch-container{
    padding-left: 15rem;
    padding-right: 15rem;
  }
    
}


/* tablet screen */
@media (min-width: 768px)  and (max-width: 991px) {

  .user-experience-grid{
    grid-template-columns: repeat(2,1fr);
  }

  .buttons-slider-container{
      grid-template-columns: repeat(2, 250px); 
      gap:1rem;
      display: none;
  }

  .d-grid-advantages{
    display: grid;
    margin: auto;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    gap:1rem;
    padding: 0;
    /* align-items: center; */
  }


  .d-grid-item img{
    width: 150px;
    margin: auto;
  }

  .d-grid-center {
    grid-column: 1 / -1; /* Span across both columns */
   justify-self: center;
   width: 50%;
   align-items: center;
  }

  .buttons-slider-container-mobile{
    display: grid;
  }


  .carousel-p{
    font-size: 16px;
  }

  .carousel-caption{
    top:2rem;
  }

}


/* for ipad pro etc screen */
@media (min-width: 1023px)  and (max-width: 1025px) {
  .buttons-slider-container{
    grid-template-columns: repeat(4, 200px); 
    gap:1rem;
    
  }
}


/* for mobile screen */

@media only screen and (max-width:575px) {

  .user-experience-grid{
    display: grid;
    /* background-color: #6ef03a; */
    grid-template-columns: repeat(1,1fr);
    gap: 1rem;
  }


  .advantage-text{
    text-align: center;
  }

  .d-grid-item p {
    /* padding: 0 10%; */
    font-size: 18px;
    min-height: auto;
    margin-top: 2rem;
    /* border: solid; */
}

  .testimonial-grid{
    grid-template-columns: repeat(1,1fr);
    gap: 5rem;
  } 

.d-grid-advantages{
  display: grid;
  margin: auto;
  grid-template-columns: repeat(1,1fr);
  justify-content: center;
  gap:1rem;
  padding: 1rem;
  /* align-items: center; */
}

.d-grid-advantages .d-grid-item img{
  width: 150px;
  height: 150px;
}

/* Padding all containers */
.About-banner .row,
.carousel-caption,
.advantages .row,
.tournaments .row,
.testimonials .row,
.footer .row,
.claim-banner .row,
.claim-banner .content,
.claim-form-container{
  padding: 0 1rem;
}


/* header */

header{
  padding: 0;
}

.navbar-collapse{
  text-align: center;
}


.button-nav {
margin: auto;
}

.button-nav .star-1 {
  display: none;
}

.button-nav .star-2 {
  display: none;
}
.button-nav .star-3 {
  display: none;
}
.button-nav .star-4 {
  display: none;
}

.star {
  width: 5px; /* Adjust the width of each star */
  height: 5px; /* Adjust the height of each star */
  margin-right: 5px; /* Adjust the spacing between stars */
 
}

.navbar img{
  width: 50px;
}

.navbar-nav .nav-item{
  padding: 0;
}


  /* Carousel */

  .buttons-slider-container-mobile{
    grid-template-columns: repeat(2, 170px); 
    display: grid;
    justify-content: center;
    align-items: center;        
  }

  .main-carousel .carousel-item{
    overflow: hidden;
    /* width: 100%; */
  }


  .buttons-slider-container{
    display: none;
  }


  .main-carousel .carousel-item img{
    width: 60rem !important;
    height: 33rem;
    margin-left: -17rem;
  }

  .main-carousel .carousel-caption{
    display: block !important;
    top: 5rem;
    /* left: 1.5rem; */
  }

  .carousel-caption h2{
    width: 90%;
  }

  .carousel-caption p{
    font-size: 16px !important;
    width: 90% !important;

  }



  .carousel-buttons{
    bottom: -6%;
  }

  .carousel-buttons button {
    width: 39vw;
    font-size: 14px;
    height: 6.5vh;
    margin: 10px 0px 0 5px;
  }

  .carousel-buttons .btn.active {
    height: 6.5vh;
    border: 3px solid #191930;
  }



  .carousel-new-buttons {
    margin: 20px 0; /* Add margin for spacing */
}

.carousel-button {
  background: #191930;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  width: 250px;
    height: 3rem;
    background: #191930;
    color: #ffffff;
    border: none;
    border-radius: 0;
    font-family: var(--font-title);
    letter-spacing: 1.5px;
    font-size: 18px;
    line-height: 15px;
    border: 3px solid #191930;
    border-radius: 10px;
}




 


  /* Advantages */

  .advantages {

    width: 100%;

    overflow: hidden;

}

.advantages .title {
  margin-left: 0;
}

.advantages .title h2{
  text-align: center;
}

.advantages .row p {
  
  min-height: 150px;
  
}

.advantages .row img {
width: 150px;
}
.advantages .row .img-enter {
width: 100px;
margin-bottom: 35px;
}

/* Tournament Prizes */

.tournaments h2{
  text-align: center;
  
}

.tournaments .container-prizes{
  margin-bottom: 10rem;
}


.grand-prize-container {
  /* margin: 3rem 1rem 0rem !important; */
  margin: 3rem 0;
}




.tournaments .card-container {
  padding: 0 1.5rem;
}

.tournaments .carousel-control-next {
  width: auto;
  height: 40px;
  top: auto;
  bottom: -5rem;
  right: 30vw;
}

.tournaments .carousel-control-prev {
  width: auto;
  height: 40px;
  top: auto;
  bottom: -5rem;
  left: 30vw;
}

.tournaments{
  display: none;
}

.tournaments-mobile{
  display: block;
}


/* Testimonials */

.testimonials .col-lg-12{
  padding: 0 !important;
}
.testimonials .col-lg-3{
  margin-top: 3rem !important;
}

.testimonials h2{
  text-align: center;
}




  .contact form{
    width: 80% !important;
    margin: 0rem auto 4rem;
  }

  .contact form button{
    width: 10rem;
    height: 3rem;
  }

  footer,.footer h5{
    text-align: center;
    margin-left: 0;
  }

  .footer ul{
    padding: 0;
  }

  .footer li{
    text-align: center;

  }


  /* Claim Winning page */

  

  .claim-form-container .content p,
  .claim-form-container .content h1{
    text-align: center;
    padding: 0 10px;
  }

  .claim-banner {
    height: 85vh;
}

  .claim-form form {
width: 100%;

}

.claim-form form  .w-50,
.claim-form form .w-25,
.claim-form form .w-75{
  width: 100% !important;
  padding: 0 !important;
}

.claim-form-container {
  padding: 5rem 0;
}

/* How it Works */

.band-item{
  width: 50%;
  border: 1px solid #80808040;
}



.works-banner .image{
  text-align: center;
}

.works-banner .text{
  margin-top: 10%;
}

.works-banner .text h1{
  text-align: center;
}

.works-banner img{
  width: 50vw;
}

.works-container .container .row{
  padding: 4.5rem 1rem;
  height: 100%;
}

.works-container h3{
  margin-bottom: 3rem;
  text-align: center;
}
.works-container p{

  text-align: center;
}

.works-container .right {
  
  margin-top: 3rem;
  max-width: 100vw
}
.works-container .left {
  margin-top: 3rem;
  max-width: 100vw
}

.works-container .images {
  text-align: center;
}

.works-container .images img{
  margin: 30px 0;
  width: 19rem;
    height: 19rem;
}

}


@media only screen and (min-width:576px) and (max-width:1024px){


  .works-banner{
    height: 70vh;
  }
  .carousel-inner .carousel-caption p {
    width: 90%;
    font-size: 21px;
    
}

.tournaments .card-container{
  padding: 0 1rem;
}

  .carousel-buttons button {
    width: 400px;
    height: 3rem;
    margin: 0 10px 10px 0 !important;
  }

  .advantages .row p {
   margin-top: 3rem;
    min-height: 100px;
    /* margin-bottom: 5rem; */
    /* border: solid 2px red; */
  }

.grand-prize-list{
  padding: 0;
}


  .contact form {
    margin: 3rem auto 8rem;
    width: 50% !important;
}

.works-container .container .row {
  padding: 2.5rem 4.5rem;
  height: 40rem;

}

.works-container img {
  margin-top: 15px;
  
    width: 17rem;
      height: 17rem;
  }

  

}





