@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&family=Russo+One&display=swap");

* {
  --font-text: "Poppins", sans-serif;
  --font-title: "Russo One", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-title);
}

p {
  font-family: var(--font-text);
}

/* NAVBAR MENU */




.navbar-nav .nav-item {
  font-size: 1.3rem;
  font-family: var(--font-title);
  color: rgba(0, 0, 0, 0.7);
  font-family: 400;
  padding-right: 30px;
}

.button-nav {
  position: relative;
  margin: 0 2rem 0 3rem;
}

#reponsive-nav {
  margin: 0 2% 0 10%;
  font-weight: 700;
  background: #f9bc2c;
  width: 100%;
}

.button-nav .star-1 {
  position: absolute;
  width: 18px;
  top: -20px;
  left: 75px;
}
.button-nav .star-2 {
  position: absolute;
  width: 18px;
  top: 10px;
  left: -5px;
}
.button-nav .star-3 {
  position: absolute;
  width: 18px;
  top: 10px;
  left: 160px;
}
.button-nav .star-4 {
  position: absolute;
  width: 18px;
  top: 40px;
  left: 75px;
}

.navbar img {
  width: 70px;
  padding: 0.5%;
}

/* Carousel */

.carousel-caption{
  position: absolute;
  top: 5rem;
  left: 4rem;
  text-align: left;
  width: 100%;
}

.carousel-inner

.carousel-caption p {
  width: 50%;
  font-size: 21px;
  font-family: var(--font-text);
}

.carousel-caption .slider-buttons .play-now{
  background: #f9bc2c;
  border: none;
  border-radius: 10px;
  padding:10px 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-family: var(--font-title);
}
.carousel-caption .slider-buttons .get-in{
  background: #e78035;
  border: none;
  border-radius: 10px;
  padding:10px 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-family: var(--font-title);
}

.carousel-indicators{
  display: none;
}

.carousel-buttons{
  position: absolute;
  bottom: 10%;
  left: 0%;
  width: 100%;
  text-align: center;
}

.carousel-buttons button {
 width: 250px;
 background:  #875F29;
 color: #FAD290;
 border: none;
 border-radius: 0;
 font-family: var(--font-title);
 letter-spacing: 1.5px;
 font-size: 18px;
 line-height: 15px;
 border: 3px solid #875F29;
 border-radius:10px ;
 -webkit-border-radius:10px ;
 -moz-border-radius:10px ;
 -ms-border-radius:10px ;
 -o-border-radius:10px ;
}

.carousel-buttons .btn.active{
  background: #191930;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}



/* The Advantages of Upside */

.advantages {
  margin:5rem 0 10rem 0;
  width: 98vw;
  max-width: 2500px;
  overflow: hidden;
  text-align: center;
}

.advantages .row {
  gap: 3rem 0;
  width: 100vw;
}
.advantages .row p {
    padding: 0 10%;
    font-size: 18px;
  min-height: 250px;
  margin-top: 2rem;

}
.advantages .row img {
    width: 200px;
    display: block;
    margin: auto;
}
.advantages .row .img-enter {
    width: 150px;
    margin-top: 15%;
}


.advantages .title {
  margin-bottom: 5%;
  margin-left: 10%;
}



/* TOURNAMENTS */

.tournaments{
  background: #191930;
}

.tournaments h2{
  color: white;
  font-size: 24px;
}

.tournaments p {
  color: black;
  font-size: 14px;
}

.tournaments .prize-container button{
 
  color: white;
  font-size: 14px;
  font-family: var(--font-title);
  background: none;
  border: none;
}

.tournaments .prize-container .title {
  color: white;
  font-family: var(--font-title);
  font-size: 18px;
}
.tournaments .prize-container .text .points {
  color: white;
  font-size: 13px;
  font-weight: 600;
  margin:0 1rem;
}
.tournaments .prize-container .text .name {
  color: white;
  font-size: 13px;
  font-weight: 400;
  
}



.tournaments .grand-prize-container {
  background: linear-gradient(180deg, rgba(35,44,56,1) 0%, rgba(25,25,48,1) 99%);
  margin: 3rem;
  padding: 1rem;
  border-radius: 10px ;
  
}


.tournaments .card-container{
  padding: 0 3.5rem;
}

.card-container .card {
  border: 3px solid #f9bc2c;
}

.tournaments .card-container .card-title{
  min-height: 50px;
}

.tournaments table{
  width: 100%;
}

.tournaments table th,
.tournaments table td{
  border-bottom: 1px solid #b0aeae90;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
}

.tournaments table th{
  font-weight: 400;
  color: #3d3f42;
}

.tournaments .carousel-control-prev{
 
  width: auto;
  height: 40px;
  top: auto;
  bottom: -3rem;
  left: 43vw;
}

.tournaments .carousel-control-next{
 
  width: auto;
  height: 40px;
  top: auto;
  bottom: -3rem;
  right: 43vw;
}

.tournaments .carousel-inner{
  margin-bottom: 10rem;
}




/* TESTIMONIALS */

.testimonials p{
    padding: 0 45px;
}

.contact{
    background: #191930;
}

.contact form{
    margin:3rem auto 8rem;
}

.contact input{
    height: 3rem;
    margin-bottom: 2.5rem;
}

.contact textarea{
    height: 9rem;
}

.contact button{
    background: #f9bc2c;
    border: none;
    color: #000;
    font-weight: 700;
}


/* FOOTER */

.footer{
  margin-bottom: 10vh;
}

.footer h5 {
  font-weight: 400;
  text-align: left;
  margin-left: 30px;
}

.footer li{
  list-style: none;
  text-align: left;
}

.footer a{
  text-decoration: none;
  color: black;
}


/* How it Works Page  */

.claim-banner{
  background: #191930;
  color: white;
  height: 70vh;
}

.claim-banner a{
  color: white;
}

.claim-form-container {
  background: #e4e4ee;
}

.claim-form{
  background: #ffffff;

}

.claim-form form {
  width: 60%;

}


.claim-form form textarea{
  resize: none;
  width: 436px;
  height: 212px;
  border: 1.5px solid #3d3f423f ;
  border-radius: 10px;
 padding: 10px;
}

.claim-form form button{
  background: #f9bc2c;
  font-weight: bold;
  color: #000;
  border: none;
}

.claim-banner p{
  font-weight: 600;
}

.band p{
font-family: var(--font-title);
font-size: 21px;
}





.works-container {
  background: #e4e4ee;
  padding: 1rem 0 5rem 0;
}

.works-container .container .row{
  padding: 4.5rem;
  height: 40rem;
}



.works-container .container .row .images-container{
  align-self: flex-end;
}

.works-container .right {
  background: white;
  margin-right: 0;
  margin-top: 5rem;
  max-width: 90vw
}
.works-container .left {
  background: white;
  margin-left: 0;
  margin-top: 5rem;
  max-width: 90vw
}

.works-container .images{
  text-align: end;
}


.works-container img{
  width: 19vw;
    height: 38vh;
    background: #d9d9d9;
    margin-left: 30px;
}







@media only screen and (max-width:575px) {
/* header */

.navbar-collapse{
  text-align: center;
}


#reponsive-nav {
  margin: 20% 0 10% 0;
  width: 80%;
}

.button-nav {
margin: auto;
}

.button-nav .star-1 {
  display: none;
}

.button-nav .star-2 {
  display: none;
}
.button-nav .star-3 {
  display: none;
}
.button-nav .star-4 {
  display: none;
}

.navbar img{
  width: 50px;
}

.navbar-nav .nav-item{
  padding: 0;
}


  /* Carousel */
  .main-carousel .carousel-item{
    height: 40rem;
  }

  .main-carousel .carousel-item img{
    width: 60rem !important;
    height: 33rem;
    margin-left: -17rem;
  }

  .main-carousel .carousel-caption{
    display: block !important;
    top: 1rem;
    left: 1.5rem;
  }

  .carousel-caption h2{
    width: 90%;
  }

  .carousel-caption p{
    font-size: 16px !important;
    width: 90% !important;

  }



  .carousel-buttons{
    bottom: -5%;
  }

  .carousel-buttons button {
    width: 45vw;
    font-size: 14px;
    height: 6.5vh;
    margin: 10px 0px 0 5px;
  }

  .carousel-buttons .btn.active {
    height: 6.5vh;
    border: 3px solid #191930;
  }

 


  /* Advantages */

  .advantages {

    width: 100%;

    overflow: hidden;

}

.advantages .title {
  margin-left: 0;
}

.advantages .title h2{
  text-align: center;
}

.advantages .row p {
  
  min-height: 150px;
  
}

.advantages .row img {
width: 150px;
}
.advantages .row .img-enter {
width: 100px;
margin-bottom: 35px;
}

/* Tournament Prizes */

.tournaments h2{
  text-align: center;
  
}

.tournaments .container-prizes{
  margin-bottom: 10rem;
}


.grand-prize-container {
  margin: 3rem 1rem 0rem !important;
}




.tournaments .card-container {
  padding: 0 1.5rem;
}

.tournaments .carousel-control-next {
  width: auto;
  height: 40px;
  top: auto;
  bottom: -5rem;
  right: 30vw;
}

.tournaments .carousel-control-prev {
  width: auto;
  height: 40px;
  top: auto;
  bottom: -5rem;
  left: 30vw;
}



/* Testimonials */

.testimonials .col-lg-12{
  padding: 0 !important;
}
.testimonials .col-lg-3{
  margin-top: 3rem !important;
}

.testimonials h2{
  text-align: center;
}


  .contact form{
    width: 80% !important;
    margin: 0rem auto 4rem;
  }

  .contact form button{
    width: 10rem;
    height: 3rem;
  }

  footer,.footer h5{
    text-align: center;
    margin-left: 0;
  }

  .footer ul{
    padding: 0;
  }

  .footer li{
    text-align: center;

  }


  /* Claim Winning page */

  .claim-banner .content{
    width: 100% !important;
    padding: 0 5%;
  }

  .claim-banner .content p,
  .claim-banner .content h1{
    text-align: center;
  }

  .claim-banner {
    height: 85vh;
}

  .claim-form form {
width: 100%;

}

.claim-form form  .w-50,
.claim-form form .w-25,
.claim-form form .w-75{
  width: 100% !important;
  padding: 0 !important;
}

.claim-form-container {
  padding: 5rem 0;
}

/* How it Works */

.band-item{
  width: 50%;
  border: 1px solid #80808040;
}



.works-banner .image{
  text-align: center;
}

.works-banner .text{
  margin-top: 10%;
}

.works-banner .text h1{
  text-align: center;
}

.works-banner img{
  width: 50vw;
}

.works-container .container .row{
  padding: 4.5rem 1rem;
  height: 100%;
}

.works-container h3{
  margin-bottom: 3rem;
  text-align: center;
}
.works-container p{

  text-align: center;
}

.works-container .right {
  
  margin-top: 3rem;
  max-width: 100vw
}
.works-container .left {
  margin-top: 3rem;
  max-width: 100vw
}

.works-container .images {
  text-align: center;
}

.works-container .images img{
  margin: 30px 0;
  width: 19rem;
    height: 19rem;
}

}


@media only screen and (min-width:576px) and (max-width:1024px){

  .carousel-inner .carousel-caption p {
    width: 90%;
    font-size: 21px;
    
}

  .carousel-buttons button {
    width: 400px;
    height: 3rem;
    margin: 0 10px 10px 0 !important;
  }

  .advantages .row p {
   margin-top: 3rem;
    min-height: 330px;
}

.grand-prize-list{
  padding: 0;
}


  .contact form {
    margin: 3rem auto 8rem;
    width: 50% !important;
}

.works-container .container .row {
  padding: 2.5rem 4.5rem;
  height: 40rem;

}

.works-container img {
  margin-top: 15px;
  
    width: 17rem;
      height: 17rem;
  }

}